/*---------------------------------------Block Common---------------------------------------*/

@import "mixins";
@import "abstract";
@import "common_variables";
@import "functions";
//compass and most of its functions is supported by pyscss. All paths are configured by django-pipeline
@import "compass/typography/lists/bullets";
@import "compass/typography/links/link-colors";

html {
  font-size: $base-font-size;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
}

html, body {
  @extend %no-padding-and-margin;
  width: 100%;
}

body {
  background: $white;
}

h1, h2, h3, h4, p, input, select {
  line-height: 1.2em;
  margin: 0;
}

a {
  text-decoration: none;
  @include link-colors($white);
  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: 1.4em;
}

.container {
  width: $base-container-width;
  @extend %no-padding-and-margin;
}

.container-flex {
  @extend %no-padding-and-margin;
  width: 100%;
}

$i: 95;
@while $i > 0 {
  .container-#{$i} {
    width: $i * 1%;
  }
  $i: $i - 5;
}

h1 {
  font-size: em(24px, true);
}

.logo {
  height: em(33px, true);
  max-height: 40px;
}

.logo-text {
  font-family: 'Tahoma';
  font-size: em(18.5px, true);
  font-weight: 400;
  text-align: center;
  line-height: 1.3em;
  color: $headings-color;
}

.logo-container {
  padding: em(60px, true) 0 em(5px, true);
  text-align: center;
}

.header {
  padding-bottom: em($footer-padding, true);
  position: relative;
  background: #f0f4f4;
  font-size: em(18px, true);
}

.header-image {
  position: absolute;
  bottom: -1px;
  left: 0;
  background: url('../images/header.svg') repeat-x;
  background-size: auto 100%;
  width: 100%;
  height: em($footer-padding, true);
}

.nav-links-container {
  background-color: $nav-link-container-back;
  text-align: center;
  display: block;
}

.nav-links {
  @include no-bullets;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.nav-link {
  display: inline-block;
  color: $white;
  border-bottom: 1px solid $nav-link-container-back;
  @extend %no-padding-and-margin;
  width: 1/7 * 100%;
  font-size: em(16px, true);
  &:hover {
    @include transition(0.3, "background-color");
    cursor: pointer;
    background: $nav-link-hover;
  }
}
/*---------------------------------------EndBlock Common---------------------------------------*/