$white: #ffffff;
$base-font-size: 14px;
$base-container-width: 1024px;
$headings-color: #3d5282;
$nav-link-container-back: #357cb8;
$nav-link-hover: #2d639a;
$nav-link-border: #21629a;
$footer-padding: 37px;