@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/TahomaRegular.ttf') format('truetype');
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('../fonts/TahomaBold.ttf') format('truetype');
    font-weight: 700; /* bold */
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Medium';
    src: url('../fonts/FranklinGothicMeduim.ttf') format('truetype');
    font-weight: 400; /* normal */
    font-style: normal;
}

@font-face {
    font-family: 'Franklin Gothic Medium';
    src: url('../fonts/FranklinGothicHeavy.ttf') format('truetype');
    font-weight: 700; /* bold */
    font-style: normal;
}